<!DOCTYPE html>
<html>
<head>
<style>
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width:100%;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a  {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: red;
}
</style>
</head>
<body>
<div><h1>Bank of London</h1></div>

<div>
<ul>
  <li><a  href="/bofa/home/">Home</a></li>
  <li><a  href="#contact">Contact</a></li>
  <li><a  href="/bofa/delete3/">CustomersList</a></li>
    <li style="float:right;"><a class="active" href="/logout/">Logout</a></li>
</ul>
    </div>
<div style="float:right;">
    <l style="color:green;margin:30px;font-size:30px;">welcome {{request.user.username}}</l>

</div>
</body>
</html>
